################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleAppFTPTest/v16
/ConsoleAppFTPTest/obj/Debug
/ConsoleAppFTPTest/bin/Debug
/ConsoleAppSFTPTest/bin/Debug
/ConsoleAppSFTPTest/obj/Debug
/packages/SSH.NET.2016.1.0
/ConsoleAppFtpClientTest/bin/Debug
/ConsoleAppFtpClientTest/obj/Debug
/packages/System.Net.FtpClient.1.0.5824.34026
/packages/FluentFTP.32.4.4
